<div class="panel">
  <h4><a href="{{html_url}}" target="_blank">{{name}}</a> <small>{{language}}</small></h4>
  <p>{{description}}</p>

{{#if team}}
  <a href="#" class="small button team-edit">Edit Repo Team</a>
{{else}}
  <a href="#" class="small button success team-create">Create Repo Team</a>
{{/if}}

</div>